.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

button.card {
  background: none;
}

button.card:disabled {
  color: #d3d3d3;
}

button.card:hover:not(:disabled),
button.card:focus:not(:disabled),
button.card:active:not(:disabled) {
  outline: none;
  color: #4aa813;
  border-color: #4aa813;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
}

.card input,
.card select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #474747;
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
}

.card input:focus,
.card select:focus {
  outline: none;
  border-bottom: 2px solid #4aa813;
  color: #4aa813;
}

button.delete-button h3,
button.delete-button p {
  color: red;
}

button.card.delete-button,
button.card.delete-button:hover,
button.card.delete-button:active,
button.card.delete-button:visited,
button.card.delete-button:focus {
  outline: none;
  border-color: red;
}
